<div class="container mt-2">
  <button class="btn btn-primary" [routerLink]="['/newcar']">New Vehicle</button>
  <p>{{queryObj | json}}</p>

  <h2>Filter By:</h2>
  <div class="form-group">
    <label for="make">Make</label>
    <select name="makeId" id="make" class="form-control" [(ngModel)]="queryObj.makeId" (change)="onFilterChange()">
      <option *ngFor="let item of makes" [ngValue]="item.id">{{item.name}}</option>
    </select>
  </div>
  <table class="table table-dark mt-3">
    <tr class="thead-light">

      <th *ngFor="let column of columns" (click)="sortBy(column.sortValue, column.sorteble)">{{column.title}}
        <i class="fa" *ngIf="queryObj.sortBy === column.sortValue" [class.fa-sort-asc]="!queryObj.IsSortAscending"
          [class.fa-sort-desc]="queryObj.IsSortAscending"></i></th>
      <th></th>
    </tr>
    <tr *ngFor="let item of queryResult.items ">
      <td>{{item.id}}</td>
      <td>{{selectMake(item.makeId)}}</td>
      <td>{{item.contact.name}}</td>
      <td>{{getModelName(item.makeId,item.modelId)}}</td>
      <td>{{item.isRegistered}}</td>
      <td><a [routerLink]="['/vehicles/', item.id]">View</a></td>
    </tr>
  </table>
  <pagination 
  [totalItems]="queryResult.totalItems" 
  [(ngModel)]="queryObj.page"
  [itemsPerPage]="queryObj.pagesize" 
  (pageChanged)="pageChanged($event)">
</pagination>
</div>