<div class="container">
  <div class="jumbotron">
    <h1>Vehicle</h1>
    <form #makeForm="ngForm" (ngSubmit)="createVehicle(makeForm)">
      <div class="form-group">
        <label (click)="focusOnElement('#makeSelect')">Choose The Make</label>
        <select class="form-control" required id="makeSelect" name="make" [(ngModel)]="make"
          (change)="peekModels(makeForm.value.make.models)">
          <option *ngFor="let make of makes" [ngValue]="make">{{make.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label (click)="focusOnElement('#modelSelect')">Chose the makes model</label>
        <select class="form-control" required id="modelSelect" name="model" [(ngModel)]="model">
          <option *ngFor="let modell of models" [ngValue]="modell">{{modell.name}}</option>
        </select>
      </div>

      <h6>Is this vehicle registered?</h6>
      <div class="form-check-inline">
        <label class="form-check-label"><input type="radio" name="registered" [value]="true"
            [(ngModel)]="registered">Yes</label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label"><input type="radio" name="registered" [value]="false"
            [(ngModel)]="registered">No</label>
      </div>
      <br>
      <br>
      <h6>Featurs</h6>
      <div class="form-check" *ngFor="let feature of features; let i = index">
        <label class="form-check-label"><input type="checkbox" class="form-check-input" name="feature-{{i}}"
            (change)="featureHandle(feature,$event)">{{feature.feature}}</label>
      </div>

      <div class="form-group">
        <label (click)="focusOnElement('#contactName')">Contact Name</label>
        <input type="text" class="form-control" name="contactName" required id="contactName"
          [(ngModel)]="contactName">
      </div>

      <div class="form-group">
        <label (click)="focusOnElement('#contactPhone')">Contact Phone</label>
        <input type="text" class="form-control" name="contactPhone" required [(ngModel)]="contactPhone"
          id="contactPhone">
      </div>

      <div class="form-group">
        <label (click)="focusOnElement('#contactEmail')">Contact Email</label>
        <input type="email" class="form-control" name="contactEmail" required [(ngModel)]="contactEmail"
          id="contactEmail">
      </div>

      <button class="btn btn-success" [disabled]="!makeForm.valid">Submit</button>
    </form>
  </div>
</div>
<button (click)="setVehicleId()">SetID</button>
<h1>{{makeForm.valid}}</h1>
<h1>{{make | json}}</h1>